body{
padding: 0;
margin: 0;
}
.nav{
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    background-color: cornsilk;
}
li{
    float: right;
}
li a{
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
li a:hover{
 background-color: blue;
}
.active{
    background-color: forestgreen;
    text-decoration: forestgreen;
    font-size: 100px;
}


