body{
padding: 0;
margin: 0;
}
.nav{
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    background-color: #111110;
}
li{
    float: right;
}
li a{
    display: block;
    padding: 8px;
    background-color: hsl(0, 0%, 6%);
}
li a:hover{
 background-color: blue;
}
.active{
    background-color: forestgreen;
    text-decoration: forestgreen;
    font-size: 100px;
}
@media screen and(min-width:600px)and(max-width:1200px) {
    .overlay{
        margin-left: 0%;
        margin-right: 1em;
    }
}


