body{
padding: 0;
margin: 0;
}
.nav{
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    background-color: #111110;
}
li{
    float: right;
}
li a{
    display: block;
    padding: 8px;
    background-color: hsl(0, 0%, 6%);
}
li a:hover{
 background-color: blue;
}
.active{
    background-color: forestgreen;
    text-decoration: forestgreen;
    font-size: 100px;
}
.foot{
    background-color: hsl(0, 0%, 6%);
    text-decoration: wheat;
    margin-top: 2%;
}


